
/storage/*.key
/.idea
/.vagrant
/node_modules
/public/css
/public/fonts
/public/img
/public/js
/public/mix-manifest.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
/vendor
/.env
/composer.lock
/package-lock.json
